<footer class='footer'>
  <section class='container'>
    <div class='row text-center'>
      <div class='col-md-3'>
        <p>REVER© Copyright stuff</p>
      </div>
      <div class='col-md-6 hidden-xs'>
      </div>
      <div class='col-md-1 mobile-space'>
        <%= link_to image_tag('facebook-logo.png', class: 'logo', alt: 'Facebook'), '# '%>
      </div>
      <div class='col-md-1 mobile-space'>
        <%= link_to image_tag('instagram-logo.png', class: 'logo', alt: 'Instagram'), '#' %>
      </div>
      <div class='col-md-1 mobile-space'>
        <%= link_to image_tag('twitter-logo.png', class: 'logo', alt: 'Twitter'), '#' %>
      </div>
    </div>
  </section>
</footer>